- content_for :title, 'Edit Super Admin Password'
- content_for :breadcrumb, 'Edit'

.twelvecol
  .page-header
    %h2.widget.widget-header Edit Super Admin Password

  = form_tag admin_change_password_path, method: :post, multipart: true do
    .threecol
      %h3 Admin Password
      %p Set the admin password

    .ninecol.last
      %fieldset.widget.widget-content
        .form-group
          = label_tag 'User Email'
          = text_field_tag :email, '', type: 'email', class: "form-control"
        .form-group
          = label_tag 'New password'
          = text_field_tag :new_password, '', type: 'password', class: "form-control"
        .form-group
          = label_tag 'Confirmation Password'
          = text_field_tag :confirm_password, '', type: 'password', class: "form-control"

      .form-action
        = submit_tag 'Submit', class: 'btn btn-blue btn-large'
