%header.header.clearfix
  .text-center
    = link_to root_path do
      = image_tag LocaleLogo.by_type_language(1, I18n.locale).first.nil? ? 'logo-new.png' : LocaleLogo.by_type_language(1, I18n.locale).first.logo.url, id: 'header-logo'
    / %ul.main-nav
    /   %li= link_to t('pages.nav_bar.home'), root_path, class: "hcc-simple #{get_active_link('home')}"
    /   %li= link_to t('pages.nav_bar.start_here'), mission_path, class: "hcc-simple #{get_active_link('')}"
    /   %li= link_to t('pages.nav_bar.standard'), standard_path, class: "hcc-simple #{get_active_link('standard')}"
    /   %li= link_to t('pages.nav_bar.path'), path_path, class: "hcc-simple #{get_active_link('path')}"
    /   %li= link_to t('pages.nav_bar.about_us'), about_path, class: "hcc-simple #{get_active_link('about_us')}"      
    /   - unless params[:controller] == 'subscriptions'
    /     %li
    /       %button.btn.hcc-btn{}
    /         %a{'href': journey_path}
    /           = t('pages.nav_bar.get_started')
    /           %i.fa.fa-angle-right
