.notification-box.border-style-1
  .row
    %span.panel-title
      = image_tag 'status-of-task.png'
      &nbsp;&nbsp;&nbsp;
      =t('dashboard.notifications.status_of_task')
  .row#notify_todos.panel-content
    %ul
      - User.all_self_todos.where(id: current_user.id).each do |todo|
        - todo_obj = Todo.find(todo.id)
        - if !todo_obj.nil? && todo_obj.recurring_available_by_department(current_user.department_id)
          - diff_time = get_remain_time(todo.id)
          - if (todo_obj.single? && diff_time[2] != -1)
            %li
              - todo_path = (todo_obj.in_progress? current_user.department_id) ? '#' : todo_todo_completes_path(todo)
              - todo_method = (todo_obj.in_progress? current_user.department_id) ? 'get' : 'post'
              = link_to todo_path, method: todo_method, style: "color: #2f363d;text-decoration: none;" do
                %h5=todo.title
                .department-todo
                  .todo-command
                    .detail-box
                      %ul#time-counter.time-counter
                        %li.days
                          %label=(diff_time[0] < 0) ? "-" : diff_time[0]
                          %span Days
                        %li.hours
                          %label=(diff_time[0] < 0) ? "-" : diff_time[1]
                          %span Hours
                        %li.minutes
                          %label=(diff_time[0] < 0) ? "-" : diff_time[2]
                          %span Mins
                      - percent = get_current_status(todo.id, current_user.department_id)
                      .progress
                        .value{style: "width: #{percent}%;"}
                  %span.todo-footer
                    = (todo_obj.in_progress? current_user.department_id) ? t('todos.labels.in_progress') : t('todos.labels.start_todo')
          - if (todo_obj.recurring? && todo_obj.is_active == 1 && (todo_obj.is_startable?(current_user.department_id) || todo_obj.in_progress?(current_user.id)) )
            %li
              - todo_path = (todo_obj.in_progress? current_user.department_id) ? '#' : todo_todo_completes_path(todo)
              - todo_method = (todo_obj.in_progress? current_user.department_id) ? 'get' : 'post'
              = link_to todo_path, method: todo_method, style: "color: #2f363d;text-decoration: none;" do
                %h5=todo.title
                .department-todo
                  .todo-command
                    .detail-box
                      %ul#time-counter.time-counter
                        %li.days
                          %label=diff_time[0]
                          %span Days
                        %li.hours
                          %label=diff_time[1]
                          %span Hours
                        %li.minutes
                          %label=diff_time[2]
                          %span Mins
                      - percent = get_current_status(todo.id, current_user.department_id)
                      .progress
                        .value{style: "width: #{percent}%;"}
                  %span.todo-footer
                    - if todo_obj.in_progress? current_user.department_id
                      = t('todos.labels.in_progress')
                    - elsif todo_obj.is_startable? current_user.department_id
                      = t('todos.labels.start_todo')

.notification-box.border-style-1
  .row
    %span.panel-title{id: 'item_nofity_message'} 
      = image_tag 'message-md.png'
      =t('dashboard.notifications.messages')
  .row.panel-content  
    .row.item-content
      / - @notifications_by_sender.each do |sender|
      - index = 0
      - cou = []
      - notif_per_source_type(@notifications, 'Message').each do |notif|   
        - if !notif.source_owner.nil? and !cou.include? notif.source.owner.name
          - cou << notif.source.owner.name
          .col-md-2.col-sm-3.col-xs-3.text-center
            %span.item-number 
              / = sender.count_message
              - index = index + 1
              = index
          .col-md-10.col-sm-9.col-xs-9.no-h-padding
            = link_to list_messages_path(role: current_user.role, list_type: 'received', notification_id: notif.id)  do
              %span.item-description 
                = notif_sender_name(notif)
:javascript
  jQuery(document).ready(function() {
    setInterval(function(){
      jQuery('.time-counter').each(function(){
        var days, hours, minutes;
        days = jQuery(this).children('.days').children('label').text();
        hours = jQuery(this).children('.hours').children('label').text();
        minutes = jQuery(this).children('.minutes').children('label').text();

        if (minutes == '-') return;

        minutes--;
        if(minutes < 0){
          minutes = 59;
          hours--;
        }

        if(hours < 0){
          hours = 23;
          days--;
        }

        jQuery(this).children('.days').children('label').text(days);
        jQuery(this).children('.hours').children('label').text(hours);
        jQuery(this).children('.minutes').children('label').text(minutes);        

      });
    }, 1000*60);
  });        