.row
  .col-md-4
    .form-group
      = hidden_field_tag :list_type, params['list_type']
      = hidden_field_tag :user_role, current_user.role
      = label_tag :target_role, t('messages.labels.show_only_messages_to_filter')
      = select_tag :target_role, options_for_select(options_for_message_recipients_select, selected: params['target_role']), class: 'select', required: true, prompt: 'Choose Recipient'

  .col-md-4
    .form-group#subject-filter{class: params['target_role'].present? ? '' : 'hidden'}
      = label_tag :subject, 'Subject'
      = select_tag :subject_id, options_from_collection_for_select(@subjects, 'id', 'title', params[:subject_id].to_i), class: 'select', prompt: 'Please choose subject'

  .col-md-4
    .form-group#sub-subject-filter{class: params['target_role'].present? ? '' : 'hidden'}
      = label_tag :sub_subject, 'Sub-subject'
      = select_tag :sub_subject_id, options_for_select(options_for_sub_subject_select), class: 'select', prompt: 'Please choose sub-subject', required: true

.row
  .col-md-4
    .form-group
      = label_tag :start_date, t('form_labels.start_date')
      = text_field_tag :start_date, params['start_date'], class: 'datepicker form-control', autocomplete: 'off'

  .col-md-4
    .form-group
      = label_tag :end_date, t('form_labels.end_date')
      = text_field_tag :end_date, params['end_date'], class: 'datepicker form-control', autocomplete: 'off'

  .col-md-4.form-buttons.centralize
    = link_to t('form_labels.apply_filter'), '#', class: 'btn btn-raised bg-style-b', id: 'apply-message-filters'
