= content_for :title, t('messages.labels.message_list')
- content_for :page_title, t('dashboard.menu_item.communication')
.message-dash-container
  .container
    .row.content-main
      .col-md-12
        %h4.option-title= t('messages.labels.basic_filter') + ' :'    
      - if params[:list_type] == 'sent'
        - if current_user.manager?
          = render '/messages/sent_message_filters_advanced'
        - else
          = render '/messages/sent_message_filters_basic'
      - else
        = render '/messages/received_message_filters'

      .row
        .col-md-12.filtered-contents
          - if @notification
            = render @notification.source
          = render '/messages/message_list'
:javascript
  jQuery(document).ready(function() {
    $('#link_dashboard_guide').on('click', function(){
      var role = "#{current_user.role}";
      var list_type = "#{params[:list_type]}";
      var url = "";
      if(list_type == "sent"){
        url = "/guide_page/"+role+"_message/sent_step1";
      } else {
        url = "/guide_page/"+role+"_message/receive_step1";
      }
      window.location.href = url;
    });    
  });