<% content_for :title, 'Global Settings' %>
<% content_for :breadcrumb, 'Global Settings' %>

<div class="twelvecol">
  <div class="page-header">
    <%= link_to new_admin_global_setting_path, :class => "btn btn-blue btn-large", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add Global Setting" do %>
      <i class="icon-plus"></i>
    <% end %>
    <h2 class="widget widget-header">Global Settings</h2>
  </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @global_settings.each do |item| %>
            <tr>
              <td>
                <%= item.key %>
              </td>
              <td>
                <%= item.value %>
              </td>
              <td>
                <%= item.description %>
              </td>
              <td>
                <%= link_to edit_admin_global_setting_path(item) do %>
                  <i class="icon-pencil"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% if @global_settings.empty? %>
    <div class="widget widget-content">
      <div class="helper-notification">
        <p>You don't have any global settings yet.</p>
        <i class="fa fa-th-large"></i>
      </div>
    </div>
  <% else %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  jQuery(document).ready(function() {
    $('#plan_currency').addClass('form-control');
  }); 
</script>