= content_for :title, t('illnesses.illness')
- content_for :page_title, t('illnesses.illness')
.illness-dash-container
  .container
    .row
      .col-md-12
        %h4.option-title= t('illnesses.illness')
    .row.content-main.illnesses
      .col-md-12
        = form_tag create_child_record_illnesses_path, id: 'new-child-record' do
          %label= t('illnesses.labels.choose_child')
          %section.child-department
            = render 'department_options_selector'
            .choose-child
          %label= t('illnesses.labels.child_details')
          %section.child-profile

          %label= t('illnesses.labels.illness_details')
          %section.illness-details
            = render 'illnesses/child/illness_details'

          %label= t('illnesses.labels.contact_parent')
          %section.contact-parent
            = render 'illnesses/child/contact_parent'

          %label= t('illnesses.labels.contact_doctor')
          %section.contact-doctor
            = render 'illnesses/child/contact_doctor'

          %label= t('illnesses.labels.additional_actions')
          %section.additional-actions
            = render 'additional_actions'

          %label= t('illnesses.labels.worker_confirmation')
          %section.worker-department
            = render 'worker_department'
            .row.worker-names
            .row.worker-profile
            .row.worker-confirmation
:javascript
  jQuery(document).ready(function() {
    $('#link_dashboard_guide').on('click', function(){
      window.location.href = '/guide_page/worker_illness/add_child_step1';
    });    
  });