<% content_for :title, 'Dashboard' %>
<% content_for :breadcrumb, 'Dashboard' %>

<div class="twelvecol">
	<div class="page-header">
		<h2 class="widget widget-header"><%= t('admin.dashboard.index.heading')%></h2>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th><%= t('admin.dashboard.index.sub_head')%></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= t('admin.dashboard.index.label1')%></td>
					<td>
						<%= link_to admin_users_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td><%= t('admin.dashboard.index.label3')%></td>
					<td>
						<%= link_to admin_daycares_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td><%= t('admin.dashboard.index.label4')%></td>
					<td>
						<%= link_to admin_discount_codes_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td><%= t('admin.dashboard.index.label5')%></td>
					<td>
						<%= link_to admin_plans_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td><%= t('admin.dashboard.index.label6')%></td>
					<td>
						<%= link_to admin_departments_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
				<tr>
					<td><%= t('admin.dashboard.index.label8')%></td>
					<td>
						<%= link_to admin_survey_subjects_path do %>
							<i class="icon-search"></i>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
