<%= form_for [:admin, @payment_mode] do |f| %>
    <div class="threecol"></div>
    <div class="ninecol last">
        <%= render partial: 'shared/admin/errors', locals: { object: @payment_mode } %>
    </div>

    <div class="threecol">
        <h3><%= t('admin.payment_modes._form.heading')%></h3>
        <p><%= t('admin.payment_modes._form.para')%></p>
    </div>
    <div class="ninecol last">
        <fieldset class="widget widget-content widget-last">
            <div class="form-group">
                <%= f.label 'Period' %>
                <%= f.text_field :period, :class => 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label 'Unit' %>
                <%= f.select :unit, options_for_select([['Select Mode', ''], ['Week', 'week'], ['Month', 'month'], ['Year', 'year']], @payment_mode.unit), {}, {:class => 'form-control'}%>
            </div>
        </fieldset>
        <div class="form-action">
            <%= f.submit 'Submit', :class => 'btn btn-blue btn-large' %>
        </div>
    </div>
<% end %>
