= content_for :title, 'New Message Template'
- step_size = 4
- page_step = 2

.message-dash-container
  .container
    .row
      .col-md-12.breadcrumb-header      
        %h3= add_sub_subject_header
    .row
      = render partial: '/shared/progress_bar', locals: {step_size: step_size, page_step: page_step}
    .row.content-main
      = form_tag recipient_admin_message_templates_path, method: :get do
        = hidden_field_tag :subject_title, params[:subject_title]
        .col-md-12      
          %h4.option-title= t('messages.labels.create_sub_subject')
        .col-md-12
          = text_field_tag :sub_subject_title, params[:sub_subject_title], placeholder: t('messages.labels.sub_subject'), class: 'form-control', id: 'sub-subject-title', required: true
        .col-md-12.form-buttons.text-right.no-h-padding
          .col-md-3.col-md-offset-6.col-sm-3.col-sm-offset-6.col-xs-6
            %a{href: subject_admin_message_templates_path(subject_title: params[:subject_title]), class: 'btn btn-gray btn-wizard'} 
              =t('form_labels.back')
          .col-md-3.col-sm-3.col-xs-6
            = submit_tag t('form_labels.next'), class: 'btn btn-yellow-red btn-wizard'
