= content_for :title, t('messages.labels.new_notification')
- content_for :page_title, t('dashboard.menu_item.communication')
- step_size = 5
- page_step = 5
.message-dash-container
  .container
    .row
      .col-md-12.breadcrumb-header      
        %h3= create_message_from_template_header
    .row
      = render partial: '/shared/progress_bar', locals: {step_size: step_size, page_step: page_step}
    .row.content-main
      = form_tag '#', method: :get do
        .col-md-12      
          %h4.option-title= t('messages.labels.edit_and_send')
        .col-md-12{data:{step: "9", intro: t("guideline.manager.message_send_menu.step9.content")}}
          = cktext_area '', '', id: 'message_content'
        .col-md-12.form-buttons.text-right.no-h-padding
          .col-md-3.col-md-offset-6.col-sm-3.col-sm-offset-6.col-xs-6
            %a{href: '#', class: 'btn btn-gray btn-wizard'} 
              =t('form_labels.back')
          .col-md-3.col-sm-3.col-xs-6
            = submit_tag t('form_labels.next'), class: 'btn btn-yellow-red btn-wizard', data:{step: "10", intro: t("guideline.manager.message_send_menu.step10.content")}
:javascript
  jQuery(document).ready(function() {    
    healthChildcare.guideline.dashboarStep("#{t('form_labels.next')}", "#{t('form_labels.back')}", "#{t('form_labels.intro_done')}", "#{t('form_labels.intro_skip')}");    
    $('#link_dashboard_guide').on('click', function(){
      healthChildcare.guideline.dashboarStep("#{t('form_labels.next')}", "#{t('form_labels.back')}", "#{t('form_labels.intro_done')}", "#{t('form_labels.intro_skip')}");
    });    
  });
