.message-dash-container
  .container
    = form_tag select_daycare_partner_subjects_path, method: :get do
      .row
        .col-md-4
          .form-group
            = label_tag :start_date, t('form_labels.start_date')
            = text_field_tag :start_date, params['start_date'], class: 'datepicker form-control datetime-input', autocomplete: 'off'

        .col-md-4
          .form-group
            = label_tag :end_date, t('form_labels.end_date')
            = text_field_tag :end_date, params['end_date'], class: 'datepicker form-control datetime-input', autocomplete: 'off'
        .col-md-4.form-buttons.filter-buttons.centralize
          %input{type: 'submit', value: t('survey.labels.results'), class: 'btn btn-lightred', id: 'apply-survey-filters'}
          / = link_to t('survey.labels.results'), '#', class: 'btn btn-lightred', id: 'apply-survey-filters'
      .row.content-main
        .col-md-3
          %h4.option-title= t('survey.labels.choose_daycare')      
          .table-responsive
            %table.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th= t('survey.labels.municipal_name')
              %tbody
                - municipal_list.each do |item|
                  %tr
                    %td
                      %input.survey-municipal-radio{type: "radio", value:item[1], name:"target_municipal"}
                        =item[0]
        .col-md-9.survey-result-dash-container
          .row.survey-subjects
            - SurveySubject.where(language: I18n.locale.upcase).each_with_index do |subject, idx|
              .survey-subject
                - if current_user.affiliate.strategic?
                  .radio-box
                    %input.municipal-subject-radio{:type=>"radio", :name => "subject_id", :id => "radio#{subject.id}", :style => "display: none;", value: subject.id, 'data-current_role': 'partner'}
                    %label{:for => "radio#{subject.id}"}
                      = image_tag subject.icon.file, class: 'img' unless subject.icon.nil?
                    .row.survey-title
                      %span= subject.title
                - else
                  .radio-box
                    %input.retake-radio{:type=>"radio", :name => "subject_id", :id => "radio#{subject.id}", :style => "display: none;", value: subject.id, 'data-current_role': @current_user.role}
                    %label{:for => "radio#{subject.id}"}
                      = image_tag subject.icon.file, class: 'img' unless subject.icon.nil?
                    .row.survey-title
                      %span= subject.title
          .row.survey-charts
            #progress_charts_partial
              = render partial: 'survey_subjects/progress_charts', locals: {trend: @trend}
