= content_for :title, t('messages.labels.message_list')
- content_for :page_title, t('dashboard.menu_item.communication')
.message-dash-container
  .container
    .row.content-main
      .col-md-12
        %h4.option-title= t('messages.labels.basic_filter') + ' :'    
      .row{data:{step: 2, intro: t("guideline.worker.message_receive_menu.step2.content")}}
        .col-md-4
          .form-group{data:{step: 1, intro: t("guideline.worker.message_receive_menu.step1.content")}}
            = label_tag :target_role, t('messages.labels.show_only_messages_to_filter')
            .form-dc-select
              = select_tag :target_role, options_for_select(options_for_message_senders_select), class: 'form-control selectpicker', required: true, prompt: t('messages.labels.sender'), class: 'form-control'
        .col-md-4
          .form-group
            = label_tag :start_date
            = text_field_tag :start_date, '', class: 'datepicker form-control datetime-input', autocomplete: 'off'
        .col-md-4
          .form-group
            = label_tag :end_date
            = text_field_tag :end_date, '', class: 'datepicker form-control datetime-input', autocomplete: 'off'
      .row
        .col-md-4.col-md-offset-8.form-buttons.filter-buttons.received.centralize
          = link_to t('messages.labels.apply_filters'), '#', class: 'btn btn-lightred', data:{step: 3, intro: t("guideline.worker.message_receive_menu.step3.content")}
      .row
        .col-md-12.filtered-contents
          .filtered-item
            .row.filtered-item-info
              .col-md-4.col-sm-4.col-xs-4
                %span Sender : 
                %span Worker
              .col-md-4.col-sm-5.col-xs-5.filtered-item-date.centralize
                25/11/2016 @ 08:48:14 PM

              .col-md-4.col-sm-3.col-xs-3.text-right
                %a.print-msg-btn
                  %span= t('form_labels.print')
            %div.filtered-item-content
              .filtered-item-preview.message-content-stage{class: 'well well-sm'}
                .fr-view
                  %p Hello New Worker
                  %p This is test message template.
                  %p
                    %br/
                  %p Thanks,
                .fr-extract.text-right
                  %a.arrow-down{:href=>"#"}
                    %i.fa.fa-chevron-down
          .filtered-item
            .row.filtered-item-info
              .col-md-4.col-sm-4.col-xs-4
                %span Sender : 
                %span Worker
              .col-md-4.col-sm-5.col-xs-5.filtered-item-date.centralize
                25/11/2016 @ 08:48:14 PM

              .col-md-4.col-sm-3.col-xs-3.text-right
                %a.print-msg-btn{href: '#'}
                  %span= t('form_labels.print')
            %div.filtered-item-content
              .filtered-item-preview.message-content-stage{class: 'well well-sm'}
                .fr-view
                  %p Hello New Worker
                  %p This is test message template.
                  %p
                    %br/
                  %p Thanks,
                .fr-extract.text-right
                  %a.arrow-down{:href=>"#"}
                    %i.fa.fa-chevron-down
          .filtered-item
            .row.filtered-item-info
              .col-md-4.col-sm-4.col-xs-4
                %span Sender : 
                %span Worker
              .col-md-4.col-sm-5.col-xs-5.filtered-item-date.centralize
                25/11/2016 @ 08:48:14 PM

              .col-md-4.col-sm-3.col-xs-3.text-right
                %a.print-msg-btn{href: '#'}
                  %span= t('form_labels.print')
            %div.filtered-item-content
              .filtered-item-preview.message-content-stage{class: 'well well-sm'}
                .fr-view
                  %p Hello New Worker
                  %p This is test message template.
                  %p
                    %br/
                  %p Thanks,
                .fr-extract.text-right
                  %a.arrow-down{:href=>"#"}
                    %i.fa.fa-chevron-down
/ Modal
#dash_step_1
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close.plainmodal-close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title= t('guideline.worker.dashboard.messaging.message_receive_menu.title').html_safe
      .modal-body          
        %p= t('guideline.worker.dashboard.messaging.message_receive_menu.content').html_safe
        %a#link_search_message= t('guideline.worker.dashboard.messaging.message_receive_menu.link_text').html_safe          
      .modal-footer
        %button.btn.btn-lightred.link-dash-step{"data-dismiss" => "modal", :type => "button", 'data-step' => '1'}=t('form_labels.next')
:javascript
  jQuery(document).ready(function() {
    var effect = {
        open: function(duration, complete) {
          this.css({
            display:          'block',
            opacity:          0,
            top:              -50 - this.outerHeight(),
            marginTop:        0
          })
          .animate({opacity: 1, top: 100}, duration, complete);
        },
        close: function(duration, complete) {
          this.animate({
            opacity:          0,
            top:              -50 - this.outerHeight()
          }, duration, function() {
            $(this).css({display: 'none'});
            complete();
          });
        }
      };

    modalStep1 = $('#dash_step_1').plainModal({effect: effect, duration: 500});

    dash_wizard();

    function dash_wizard(){
      modalStep1 = $('#dash_step_1').plainModal('open', {force: true});
    }

    $('#link_dashboard_guide').on('click', function(){
      dash_wizard();
    });       

    $('#link_search_message').click(function(e){
      modal = eval('modalStep' + cur_step);
      modal.plainModal('close', {force: true});
      healthChildcare.guideline.introGoToStep('receive_step1', "#{t('form_labels.next')}", "#{t('form_labels.back')}", "#{t('form_labels.intro_done')}", "#{t('form_labels.intro_skip')}");
      e.preventDefault();
    });

    $('.link-dash-step').click(function(e){
      var step = $('input[name=dash_step]:checked').val();
      var cur_step = $(this).data('step');
      var modal;
      switch(cur_step){
      case 1:
        modal = eval('modalStep' + cur_step);
        modal.plainModal('close', {force: true});
        healthChildcare.guideline.introGoToStep('receive_step1', "#{t('form_labels.next')}", "#{t('form_labels.back')}", "#{t('form_labels.intro_done')}", "#{t('form_labels.intro_skip')}");
        break;
      }      
      e.preventDefault();
    });

  });