.row-fluid
  %h4.heading= t('pages.standard_step.heading_1')
  %p= t('pages.standard_step.content_1_a')

.row-fluid
  %h4.heading= t('pages.standard_step.heading_2')
  %p= t('pages.standard_step.content_2_a')

.row-fluid
  %h4.heading= t('pages.standard_step.heading_3')
  %p= t('pages.standard_step.content_3_a')

.row-fluid
  %h4.heading= t('pages.standard_step.heading_4')
  %p= t('pages.standard_step.content_4_a')
