.legacy-ethic
  .container
    .row.step-wrapper
      %h2.step-title=t('pages.ethic.step2.title')
      .col-md-12.content        
        %h3.heading.text-center=t('pages.ethic.step2.heading')
        .ethic-single
          = image_tag 'ethic_1.png'
          %p=t('pages.ethic.step2.para1')
        .ethic-single
          = image_tag 'ethic_2.png'
          %p=t('pages.ethic.step2.para2')
        .ethic-single
          = image_tag 'ethic_3.png'
          %p=t('pages.ethic.step2.para3')
        .ethic-single
          = image_tag 'ethic_4.png'
          %p=t('pages.ethic.step2.para4')
        .ethic-single
          = image_tag 'ethic_5.png'
          %p=t('pages.ethic.step2.para5')
        .ethic-single
          = image_tag 'ethic_6.png'
          %p=t('pages.ethic.step2.para6')
        .ethic-single
          = image_tag 'ethic_7.png'
          %p=t('pages.ethic.step2.para7')
      .col-md-12.text-center
        %button.btn.hcc-green-btn-vertical
          %a{'href': '/ethic_4'}
            = t('pages.ethic.label.schedule')            
