#legacy-back-two
  .container.back-page-content
    .row.back-page
      .col-md-12
        .infect-heading
          = image_tag "implementaiotn.png"
          %h2= t('pages.implementation.main_heading') 
          %p= t('pages.implementation.para1')
      .col-md-6.left-side
        .single
          = image_tag 'back2_one.png'
          %h2= t('pages.implementation.sub_heading1')
          %p= t('pages.implementation.para2')
          %h4.click-here
            %a{:href => "/dashboard"} Click here to access infection risk assessment for this module
        .single
          = image_tag 'back2_two.png'
          %h2= t('pages.implementation.sub_heading2')
          %p= t('pages.implementation.para3')
          %h4.click-here
            %a{:href => "/dashboard"} Click here to access infection risk assessment for this module
        .single
          = image_tag 'back2_three.png'
          %h2= t('pages.implementation.sub_heading3')
          %p= t('pages.implementation.para4')
          %h4.click-here
            %a{:href => "/dashboard"} Click here to access infection risk assessment for this module
      .col-md-6.right-side
        .single
          = image_tag 'back2_four.png'
          %h2= t('pages.implementation.sub_heading4')
          %p= t('pages.implementation.para5')
          %h4.click-here
            %a{:href => "/dashboard"} Click here to access infection risk assessment for this module
        .single
          = image_tag 'back2_five.png'
          %h2= t('pages.implementation.sub_heading5')
          %p= t('pages.implementation.para6')
          %h4.click-here
            %a{:href => "/dashboard"} Click here to access infection risk assessment for this module
        .single
          = image_tag 'back2_six.png'
          %h2= t('pages.implementation.sub_heading6')
          %p= t('pages.implementation.para7')
          %h4.click-here
            %a{:href => "/dashboard"} Click here to access infection risk assessment for this module