#legacy-back-three
  .row.pink-banner
    .container
      .col-xs-8
        %h2.text-dark-pink.text-bold.text-upper= t('pages.instruction.main_heading').html_safe
        %p.text-blue= t('pages.instruction.description').html_safe
      .col-xs-4.text-right
        = image_tag 'guide.png'
  .container.back-page-content
    .row{style: 'margin-top: 30px;'}
      .col-md-12
        .infect-heading{'data-step'=>"7", 'data-intro'=>"In this section you are see videos", 'data-position' => 'top'}
      - if current_user.nil? || (current_user.manager? && current_user.plan_type <= 2) || (current_user.worker? && current_user.manager_plan_type <= 2)
        .col-sm-3.text-center
          %a{:href => "#", "data-url": get_video_link("free", 1, I18n.locale), "data-popup-open": "video-popup"}
            = image_tag 'intro_one.png'
        .col-sm-9.single
          %h3.text-blue.text-upper= t('pages.instruction.sub_heading1.title')
          %p.text-left.text-bold= t('pages.instruction.sub_heading1.description')
          %ul.blue-tickmark
            %li
              %p.text-left
                = t('pages.instruction.sub_heading1.para1').html_safe          
            %li
              %p.text-left
                = t('pages.instruction.sub_heading1.para2').html_safe
            %li
              %p.text-left
                = t('pages.instruction.sub_heading1.para3').html_safe

        .col-sm-3.text-center
          %a{:href => "#", "data-url": get_video_link("free", 2, I18n.locale), "data-popup-open": "video-popup"}
            = image_tag 'intro_three.png'
        .col-sm-9.single
          %h3.text-blue.text-upper= t('pages.instruction.sub_heading3.title')
          %p.text-left.text-bold= t('pages.instruction.sub_heading3.description')
          %ul.blue-tickmark
            %li
              %p.text-left
                = t('pages.instruction.sub_heading3.para1').html_safe          
            %li
              %p.text-left
                = t('pages.instruction.sub_heading3.para2').html_safe
            %li
              %p.text-left
                = t('pages.instruction.sub_heading3.para3').html_safe

        .col-sm-3.text-center
          %a{:href => "#", "data-url": get_video_link("free", 3, I18n.locale), "data-popup-open": "video-popup"}
            = image_tag 'intro_two.png'
        .col-sm-9.single
          %h3.text-blue.text-upper= t('pages.instruction.sub_heading2.title')
          %p.text-left.text-bold= t('pages.instruction.sub_heading2.description')
          %ul.blue-tickmark
            %li
              %p.text-left
                = t('pages.instruction.sub_heading2.para1').html_safe          
            %li
              %p.text-left
                = t('pages.instruction.sub_heading2.para2').html_safe
            %li
              %p.text-left
                = t('pages.instruction.sub_heading2.para3').html_safe

        .col-sm-3.text-center
          %a{:href => "#", "data-url": get_video_link("free", 4, I18n.locale), "data-popup-open": "video-popup"}
            = image_tag 'intro_four.png'
        .col-sm-9.single
          %h3.text-blue.text-upper= t('pages.instruction.sub_heading4.title')
          %p.text-left.text-bold= t('pages.instruction.sub_heading4.description')
          %ul.blue-tickmark
            %li
              %p.text-left
                = t('pages.instruction.sub_heading4.para1').html_safe          
            %li
              %p.text-left
                = t('pages.instruction.sub_heading4.para2').html_safe
            %li
              %p.text-left
                = t('pages.instruction.sub_heading4.para3').html_safe

        .col-sm-3.text-center
          %a{:href => "#", "data-url": get_video_link("free", 5, I18n.locale), "data-popup-open": "video-popup"}
            = image_tag 'intro_five.png'
        .col-sm-9.single
          %h3.text-blue.text-upper= t('pages.instruction.sub_heading5.title')
          %p.text-left.text-bold= t('pages.instruction.sub_heading5.description')
          %ul.blue-tickmark
            %li
              %p.text-left
                = t('pages.instruction.sub_heading5.para1').html_safe          
            %li
              %p.text-left
                = t('pages.instruction.sub_heading5.para2').html_safe
            %li
              %p.text-left
                = t('pages.instruction.sub_heading5.para3').html_safe

      - else
        .col-sm-3.text-center
          %a{:href => "#", "data-url": get_video_link("paid", 1, I18n.locale), "data-popup-open": "video-popup"}
            = image_tag 'intro_one.png'
        .col-sm-9.single
          %h3.text-blue.text-upper= t('pages.instruction.sub_heading1.title')
          %p.text-left.text-bold= t('pages.instruction.sub_heading1.description')
          %ul.blue-tickmark
            %li
              %p.text-left
                = t('pages.instruction.sub_heading1.para1').html_safe          
            %li
              %p.text-left
                = t('pages.instruction.sub_heading1.para2').html_safe
            %li
              %p.text-left
                = t('pages.instruction.sub_heading1.para3').html_safe

        .col-sm-3.text-center
          %a{:href => "#", "data-url": get_video_link("paid", 2, I18n.locale), "data-popup-open": "video-popup"}
            = image_tag 'intro_three.png'
        .col-sm-9.single
          %h3.text-blue.text-upper= t('pages.instruction.sub_heading3.title')
          %p.text-left.text-bold= t('pages.instruction.sub_heading3.description')
          %ul.blue-tickmark
            %li
              %p.text-left
                = t('pages.instruction.sub_heading3.para1').html_safe          
            %li
              %p.text-left
                = t('pages.instruction.sub_heading3.para2').html_safe
            %li
              %p.text-left
                = t('pages.instruction.sub_heading3.para3').html_safe

        .col-sm-3.text-center
          %a{:href => "#", "data-url": get_video_link("paid", 3, I18n.locale), "data-popup-open": "video-popup"}
            = image_tag 'intro_two.png'
        .col-sm-9.single
          %h3.text-blue.text-upper= t('pages.instruction.sub_heading2.title')
          %p.text-left.text-bold= t('pages.instruction.sub_heading2.description')
          %ul.blue-tickmark
            %li
              %p.text-left
                = t('pages.instruction.sub_heading2.para1').html_safe          
            %li
              %p.text-left
                = t('pages.instruction.sub_heading2.para2').html_safe
            %li
              %p.text-left
                = t('pages.instruction.sub_heading2.para3').html_safe

        .col-sm-3.text-center
          %a{:href => "#", "data-url": get_video_link("paid", 4, I18n.locale), "data-popup-open": "video-popup"}
            = image_tag 'intro_four.png'
        .col-sm-9.single
          %h3.text-blue.text-upper= t('pages.instruction.sub_heading4.title')
          %p.text-left.text-bold= t('pages.instruction.sub_heading4.description')
          %ul.blue-tickmark
            %li
              %p.text-left
                = t('pages.instruction.sub_heading4.para1').html_safe          
            %li
              %p.text-left
                = t('pages.instruction.sub_heading4.para2').html_safe
            %li
              %p.text-left
                = t('pages.instruction.sub_heading4.para3').html_safe

        .col-sm-3.text-center
          %a{:href => "#", "data-url": get_video_link("paid", 5, I18n.locale), "data-popup-open": "video-popup"}
            = image_tag 'intro_five.png'
        .col-sm-9.single
          %h3.text-blue.text-upper= t('pages.instruction.sub_heading5.title')
          %p.text-left.text-bold= t('pages.instruction.sub_heading5.description')
          %ul.blue-tickmark
            %li
              %p.text-left
                = t('pages.instruction.sub_heading5.para1').html_safe          
            %li
              %p.text-left
                = t('pages.instruction.sub_heading5.para2').html_safe
            %li
              %p.text-left
                = t('pages.instruction.sub_heading5.para3').html_safe
  .row{style: "margin-bottom: 30px;"}
    .col-sm-4.hidden-xs
    .col-sm-4.col-xs-12
      / %button.btn.btn-primary.btn-style-1{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
      /   =t('pages.home.free_register')
    .col-sm-4.hidden-xs

.popup{"data-popup" => "video-popup"}
  .popup-inner
    %iframe{:frameborder => "0", :onload => "resizeIframe(this)", :scrolling => "no", :src => "",  id: 'video-iframe'}
    %a.popup-close{"data-popup-close" => "video-popup", :href => "#"} x

= render partial: 'shared/download_pdf'

#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-1.modal-lg{:role => "document"}
    .modal-content
      .modal-body.no-padding-top
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            %img{:alt => "", :src => "/assets/close-color.png"}/
        .row.row-flex
          .col-xs-12.col-sm-6.col-flex
            .boxer
              %p.paragraph.text-left
                %b= t('register_popup.title')
              %h4
              %div{:style => "margin-top: 40px;margin-bottom: 80px"}
                = simple_form_for(@user, url: "registration/create",  :html => {:class => 'form-horizontal' }) do |f|
                  = f.input :daycare_name, label: false, wrapper_html: { class: "form-group" }, input_html: { class: "form-control input-lg", placeholder: "Enter daycare name " }, required: true
                  = f.input :name, label: false, wrapper_html: { class: "form-group" }, input_html: { class: "form-control input-lg", placeholder: "Name" }, required: true
                  = f.input :email, label: false, as: :string, wrapper_html: { class: "form-group" }, input_html: { class: "form-control input-lg", placeholder: "Email", required: true }
                  = f.input :mobile, label: false, as: :string, wrapper_html: { class: "form-group" }, input_html: { class: "form-control input-lg", placeholder: "Mobile", required: true }
                  .gap-30
                  = f.button :submit, t('register_popup.join_button'), class: "btn-style-1"
          .col-sm-6.col-flex.hidden-xs{:style => "background: #fefbfa"}
            .boxer.text-left
              %p.paragraph.pink-color.text-left
                %b=t('register_popup.paragraph')
              .row
                .col-xs-2{:style => "margin-top: 10px"}
                  = image_tag "icons/9"
                .col-xs-10{:style => "padding-left: 22px"}
                  %p.paragraph.text-left
                    %b= t('registration.title1')
                    %br/
                    = t('registration.desc1')
              .row
                .col-xs-2{:style => "margin-top: 10px"}
                  = image_tag "icons/2"
                .col-xs-10{:style => "padding-left: 22px"}
                  %p.paragraph.text-left
                    %b= t('registration.title2')
                    %br/
                    = t('registration.desc2')
              .row
                .col-xs-2{:style => "margin-top: 10px"}
                  = image_tag "icons/3"
                .col-xs-10{:style => "padding-left: 22px"}
                  %p.paragraph.text-left
                    %b= t('registration.title3')
                    %br/
                    = t('registration.desc3')
              .row
                .col-xs-2{:style => "margin-top: 10px"}
                  = image_tag "icons/14"
                .col-xs-10{:style => "padding-left: 22px"}
                  %p.paragraph.text-left
                    %b= t('registration.title4')
                    %br/
                    = t('registration.desc4')
              .row
                .col-xs-2{:style => "margin-top: 10px"}
                  = image_tag "icons/6"
                .col-xs-10{:style => "padding-left: 22px"}
                  %p.paragraph.text-left
                    %b= t('registration.title5')
                    %br/
                    = t('registration.desc5')
              .row
                .col-xs-2{:style => "margin-top: 10px"}
                  = image_tag "icons/4"
                .col-xs-10{:style => "padding-left: 22px"}
                  %p.paragraph.text-left
                    %b= t('registration.title6')
                    %br/
                    = t('registration.desc6')
              .row
                .col-xs-2{:style => "margin-top: 10px"}
                  = image_tag "icons/5"
                .col-xs-10{:style => "padding-left: 22px"}
                  %p.paragraph.text-left
                    %b= t('registration.title7')
                    %br/
                    = t('registration.desc7')
              .row
                .col-xs-2{:style => "margin-top: 10px"}
                  = image_tag "icons/11"
                .col-xs-10{:style => "padding-left: 22px"}
                  %p.paragraph.text-left
                    %b= t('registration.title8')
                    %br/
                    = t('registration.desc8')

:javascript
  jQuery(document).ready(function() {
    $('[data-popup-open]').on('click', function(e)  {

        $('#video-iframe').attr('src', $(this).data('url'));
        var targeted_popup_class = jQuery(this).attr('data-popup-open');
        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
        e.preventDefault();
    });
    //----- CLOSE
    $('[data-popup-close]').on('click', function(e)  {
        $('#video-iframe').attr('src', '');
        var targeted_popup_class = jQuery(this).attr('data-popup-close');
        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);
        e.preventDefault();
    });

  });