= content_for :title, t('illnesses.illness')
- content_for :page_title, t('illnesses.illness')
.illness-dash-container
  .container
    .row
      .col-md-12
        %h4.option-title= t('illnesses.illness')
    .row.content-main.illnesses
      .col-md-12.wizard.clearfix.vertical
        .steps.clearfix
          %ul{:role => "tablist"}
            %li.first.done
              %a#new-child-record-t-0
                %span.current-info.audible current step:
                %span.number 1.
                = t('illnesses.labels.choose_child')
            %li.done
              %a#new-child-record-t-1
                %span.number 2.
                = t('illnesses.labels.child_details')
            %li.current
              %a#new-child-record-t-2
                %span.number 3.
                = t('illnesses.labels.illness_details')
            %li.disabled
              %a#new-child-record-t-3
                %span.number 4.
                = t('illnesses.labels.contact_parent')
            %li.disabled
              %a#new-child-record-t-4
                %span.number 5.
                = t('illnesses.labels.contact_doctor')
            %li.disabled
              %a#new-child-record-t-5
                %span.number 6.
                = t('illnesses.labels.additional_actions')
            %li.disabled.last
              %a#new-child-record-t-6
                %span.number 7.
                = t('illnesses.labels.worker_confirmation')
        .content.clearfix
          %section#new-child-record-p-2.illness-details.body.current
            .row
              %h5= t('illnesses.labels.illness_details')
            .row{data:{step: 5, intro: t("guideline.worker.illness_add_child.step5.content")}}
              .col-md-6.col-sm-6
                %h3= t('protocols.child_illness_record.illness_code')
                #search-illness-name
                  = text_field_tag 'search-illness-name', '', placeholder: t('illnesses.labels.search'), class: 'form-control'
                  .form-group.is-empty
              .col-md-6.col-sm-6
                .radio-box-group
                  .radio-box
                    %input#chk_illness_MP-001{"data-illness_name" => "Mumps", :name => "record[illness_code]", :required => "true", :style => "display: none;", :type => "radio", :value => "MP-001"}/
                    %label{:for => "chk_illness_MP-001"}
                      Mumps
                  .radio-box
                    %input#chk_illness_code-hiv{"data-illness_name" => "HIV", :name => "record[illness_code]", :required => "true", :style => "display: none;", :type => "radio", :value => "code-hiv"}/
                    %label{:for => "chk_illness_code-hiv"}
                      HIV
                  .radio-box
                    %input#chk_illness_IL-1480386021{"data-illness_name" => "Illness 001", :name => "record[illness_code]", :required => "true", :style => "display: none;", :type => "radio", :value => "IL-1480386021"}/
                    %label{:for => "chk_illness_IL-1480386021"}
                      Rubala
            .row{data:{step: 6, intro: t("guideline.worker.illness_add_child.step6.content")}}
              .col-md-12
                #symptoms
                  %h3 Symptoms
                  .symptoms-list
                    .check-box
                      %input#chk_symp_1hiv{:name => "record[symptom_codes][]", :style => "display: none;", :type => "checkbox", :value => "1hiv"}/
                      %label{:for => "chk_symp_1hiv"}
                        Impetigo
                    .check-box
                      %input#chk_symp_2hiv{:name => "record[symptom_codes][]", :style => "display: none;", :type => "checkbox", :value => "2hiv"}/
                      %label{:for => "chk_symp_2hiv"}
                        Fever
            .row{data:{step: 7, intro: t("guideline.worker.illness_add_child.step7.content")}}
              .col-md-12
                #illness-known-no.illness-detail{:style => "display: none;"}
                  .form-group.is-empty
                    %label.step-instruction Description of symptoms and circumstance
                    %textarea#record_symptoms_description.form-control{:name => "record[symptoms_description]", :rows => "5"}
                .form-group
                  %label.step-instruction Date when the symptoms started showing
                  %input#record_start_date.datepicker.form-control.datetime-input{:name => "record[start_date]", :type => "text", :value => "", autocomplete: 'off'}/
                .form-group
                  %label.step-instruction Date when the symptoms stopped showing
                  %input#record_end_date.datepicker.form-control.datetime-input{:name => "record[end_date]", :type => "text", :value => "", autocomplete: 'off'}/
                .form-group.is-empty
                  %label.step-instruction Any events which could be possible causes of the outbreak, including field trips, contact with animals etc.
                  %textarea#record_possible_trigger.form-control{:name => "record[possible_trigger]"}
                .form-group.is-empty
                  %label.step-instruction Other relevant details
                  %textarea#record_extra_details.form-control{:name => "record[extra_details]"}
        .actions.clearfix
          %ul{"aria-label" => "Pagination", :role => "menu"}
            %li.disabled{"aria-disabled" => "true"}
              %a{:href => "#previous", :role => "menuitem"}=t('form_labels.previous')
            %li{"aria-disabled" => "false", "aria-hidden" => "false", data:{step: 8, intro: t("guideline.worker.illness_add_child.step8.content")}}
              %a{:href => "#next", :role => "menuitem"}=t('form_labels.next')
            %li{"aria-hidden" => "true", :style => "display: none;"}
              %a{:href => "#finish", :role => "menuitem"}=t('form_labels.submit')
:javascript
  jQuery(document).ready(function() {
    healthChildcare.guideline.introGoToStep('add_child_step4');
    $('#link_dashboard_guide').on('click', function(){
      healthChildcare.guideline.introGoToStep('add_child_step4');
    });    
    $('.datepicker').datetimepicker({
      format: 'd/m/Y',
      timepicker: false
    });
  });