= content_for :title, t('illnesses.illness')
- content_for :page_title, t('illnesses.illness')
.illness-dash-container
  .container
    .row
      .col-md-12
        %h4.option-title= t('illnesses.illness')
    .row.content-main.illnesses
      .col-md-12.wizard.clearfix.vertical
        .steps.clearfix
          %ul{:role => "tablist"}
            %li.first.done
              %a#new-child-record-t-0
                %span.current-info.audible current step:
                %span.number 1.
                = t('illnesses.labels.choose_child')
            %li.done
              %a#new-child-record-t-1
                %span.number 2.
                = t('illnesses.labels.child_details')
            %li.done
              %a#new-child-record-t-2
                %span.number 3.
                = t('illnesses.labels.illness_details')
            %li.done
              %a#new-child-record-t-3
                %span.number 4.
                = t('illnesses.labels.contact_parent')
            %li.current
              %a#new-child-record-t-4
                %span.number 5.
                = t('illnesses.labels.contact_doctor')
            %li.disabled
              %a#new-child-record-t-5
                %span.number 6.
                = t('illnesses.labels.additional_actions')
            %li.disabled.last
              %a#new-child-record-t-6
                %span.number 7.
                = t('illnesses.labels.worker_confirmation')
        .content.clearfix
          %section#new-child-record-p-3.contact-parent.body.current{data:{step: 11, intro: t("guideline.worker.illness_add_child.step11.content")}}
            .row
              %h5= t('illnesses.labels.contact_doctor_question')
            .row.radio-box-group
              .radio-box
                %input#chk_contact_q_yes{:name => "contact[parent][answer]", :required => "true", :style => "display: none;", :type => "radio", :value => "yes"}/
                %label{:for => "chk_contact_q_yes"}
                  Yes
              .radio-box
                %input#chk_contact_q_no{:name => "contact[parent][answer]", :required => "true", :style => "display: none;", :type => "radio", :value => "no"}/
                %label{:for => "chk_contact_q_no"}
                  No
            #contact-parent-yes.contact-parent-ans{:style => "display: block;"}
              .form-group.is-empty
                %h3= t('protocols.child_illness_record.contact_doctor_message')
                %textarea#record_contact_parent_message.form-control{:name => "record[contact_parent_message]", :rows => "8"}
        .actions.clearfix
          %ul{"aria-label" => "Pagination", :role => "menu"}
            %li.disabled{"aria-disabled" => "true"}
              %a{:href => "#previous", :role => "menuitem"}=t('form_labels.previous')
            %li{"aria-disabled" => "false", "aria-hidden" => "false", data:{step: 12, intro: t("guideline.worker.illness_add_child.step12.content")}}
              %a{:href => "#next", :role => "menuitem"}=t('form_labels.next')
            %li{"aria-hidden" => "true", :style => "display: none;"}
              %a{:href => "#finish", :role => "menuitem"}=t('form_labels.submit')
:javascript
  jQuery(document).ready(function() {
    healthChildcare.guideline.introGoToStep('add_child_step6');
    $('#link_dashboard_guide').on('click', function(){
      healthChildcare.guideline.introGoToStep('add_child_step6');
    });    
  });