= content_for :title, t('illnesses.illness')
- content_for :page_title, t('illnesses.illness')
.illness-dash-container
  .container
    .row.content-main
      .col-md-12
        %h4.option-title= t('illnesses.labels.basic_filter')
        .row{data:{step: 1, intro: t("guideline.worker.illness_view_child.step1.content")}}
          .col-md-6
            .form-group
              = label_tag :department, t('illnesses.labels.select_department')
              .form-dc-select
                = select_tag :department_id, options_from_collection_for_select(current_user.daycare.departments, 'id', 'name'), class: 'form-control', required: true, prompt: t('illnesses.labels.department')
          .col-md-6
            .form-group.choose-child
              = label_tag :department, t('illnesses.labels.select_children')
              .form-dc-select
                = select_tag :department_id, options_from_collection_for_select(current_user.daycare.departments, 'id', 'name'), class: 'form-control', required: true, prompt: t('illnesses.labels.select_children')
        .row{data:{step: 2, intro: t("guideline.worker.illness_view_child.step2.content")}}
          .col-md-4
            .form-group
              = label_tag :start_date, t('form_labels.start_date')
              = text_field_tag :start_date, params['start_date'], class: 'datepicker form-control datetime-input', autocomplete: 'off'
          .col-md-4
            .form-group
              = label_tag :end_date, t('form_labels.end_date')
              = text_field_tag :end_date, params['end_date'], class: 'datepicker form-control datetime-input', autocomplete: 'off'
          .col-md-4.form-buttons.filter-buttons.centralize
            = link_to t('form_labels.apply_filter'), '#', class: 'btn btn-lightred', data:{step: 3, intro: t("guideline.worker.illness_view_child.step3.content")}
      .row
        .col-md-12.filtered-contents
          .row.filtered-item
            .row.filtered-item-info
              .col-md-6.col-sm-8.col-xs-9
                29/11/2016 @ 10:17:40 AM
              .col-md-6.col-sm-4.col-xs-3
                %a.print-record-btn{href: '#', 'data-target_record': "#health-record-8"} 
                  %span.pull-right{data:{step: 5, intro: t("guideline.worker.illness_view_child.step5.content")}}= t('form_labels.print'){}
                %a{href: "mailto:#{current_user.email}"}
                  %span.pull-right{:style => 'margin-right: 15px;'} Email
            .filtered-item-content
              .row.filtered-item-preview.expandable{'data-health_record_id': 8, data:{step: 4, intro: t("guideline.worker.illness_view_child.step4.content")}}
                .col-md-2.col-sm-3.col-xs-12
                  = image_tag 'super-admin.png'
                .col-md-10.col-sm-9.col-xs-12
                  %table.information-block 
                    %tr
                      %td.options= t('illnesses.labels.name')
                      %td Alice
                    %tr
                      %td.options= t('illnesses.labels.age')
                      %td 2
                    %tr
                      %td.options= t('illnesses.labels.birthday')
                      %td 08/11/2016
                    %tr
                      %td.options= t('illnesses.labels.reporting_date')
                      %td 29/11/2016
              #health-record-8.row.filtered-item-complete-view
                .panel.panel-info
                  .panel-heading
                    29/11/2016 : Alice
                  .panel-body
                    %dl
                      %dt Reporting Date
                      %dd 29/11/2016
                      %hr/
                      %dt Name
                      %dd Bale
                      %hr/
                      %dt Age
                      %dd 0
                      %hr/
                      %dt Birthday
                      %dd 08/11/2016
                      %hr/
                      %dt Department
                      %dd 1 to 2 years old
                      %hr/
                      %dt Daycare
                      %dd Daycare-Test
                      %hr/
                      %dt Illness
                      %dd HIV
                      %hr/
                      %dt Date when the symptoms started showing
                      %dd 24/11/2016
                      %hr/
                      %dt Date when the symptoms stopped showing
                      %dd 29/11/2016
                      %hr/
                      %dt Symptoms
                      %dd Symptoms - 1-HIV, Symptoms - Second-HIV
                      %hr/
:javascript
  jQuery(document).ready(function() {
    $('#link_dashboard_guide').on('click', function(){
      healthChildcare.guideline.introGoToStep('dash', "#{t('form_labels.next')}", "#{t('form_labels.back')}", "#{t('form_labels.intro_done')}", "#{t('form_labels.intro_skip')}");
    });       
    healthChildcare.guideline.introGoToStep('dash', "#{t('form_labels.next')}", "#{t('form_labels.back')}", "#{t('form_labels.intro_done')}", "#{t('form_labels.intro_skip')}");
  });              