.row.text-center.step-banner
  = image_tag 'worker-md.png'
  %h4 Daycare Workers
.row.pane-container.text-center
  .row.step-banner
    .col-sm-3.col-xs-3.step-item.first-step.item-worker
      .step-label
        = image_tag 'step-arrow.png', :class => "step-arrow right"
        = image_tag 'step-check-mng.png'
    .col-sm-3.col-xs-3.step-item.second-step.item-worker
      .step-label
        = image_tag 'step-arrow.png', :class => "step-arrow right"
        = image_tag 'step-arrow.png', :class => "step-arrow left"
        = image_tag 'step-check-mng.png'
    .col-sm-3.col-xs-3.step-item.third-step.item-worker
      .step-label
        = image_tag 'step-arrow.png', :class => "step-arrow right"
        = image_tag 'step-arrow.png', :class => "step-arrow left"
        = image_tag 'step-check-mng.png'
    .col-sm-3.col-xs-3.step-item.fourth-step.item-worker.active    
      .step-label
        = image_tag 'step-arrow.png', :class => "step-arrow left"
        = image_tag 'worker-sm.png'
        %span Congratulation
.row.pane-search-result.text-center
  %h3.complete-title.item-worker CONGRATULATIONS!
  %h5.compelet-message You have now created your DayCare Profile.
  %h5.compelet-message Shortly you will get a Email.
.parent-congratulation