<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="title-2">Your path toward higher level of Health Preserving Care starts here</h3>
      <p class="paragraph">Your decision to land on this page means you’re seriously committed to reducing the possibility of the spread of infections and diseases in your daycare facility. Congratulations on making this decision. </p>
      <p class="paragraph">
        HSCA accreditation is a public affirmation of your commitment to protect the health and wellbeing of children and staff under your care. This commitment resonates not only with parents but also with daycare staff, government agencies and the general public.
      </p>
      <p class="paragraph">
        Get started on the journey now by clicking the box below for our complimentary Discovery Assessment or our Accreditation Program.
      </p>
      <div class="box border-style-1">
        <p class="paragraph text-center">
          <br>
          Discount Code
        </p>
        <form action="">
          <div class="row box pad20" style="margin-bottom: 20px">
            <div class="col-xs-9"><input type="text" class="input-style-1" placeholder="1233 1546 4578 2658"></div>
            <div class="col-xs-3"><input type="text" class="input-style-1" placeholder="CVV"></div>
          </div>
          <div class="row pad20">
            <div class="col-xs-3"><input type="text" class="input-style-1" placeholder="MM"></div>
            <div class="col-xs-3"><input type="text" class="input-style-1" placeholder="YY"></div>
            <div class="col-xs-6"><input type="text" class="input-style-1" placeholder="Your promocode"></div>
          </div>
          <div class="row">
            <div class="float-right">
              <button class="btn hcc-red-btn" style="min-width: 100px;margin-top: 11px;margin-right: 33px;">
                <a href="#">Apply</a>
              </button>
            </div>
          </div>
          <div class="row text-center dollar">
            <span class="amount">$10</span><span class="text">/month</span>
          </div>
          <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs"></div>
            <div class="col-md-4 col-xs-12" style="margin-bottom: 12px">
              <input type="submit" value="SIGN UP" class="btn-style-1 btn-sm">
            </div>
            <div class="col-md-4 hidden-sm hidden-xs"></div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="brown-background text-left" style="padding: 20px">
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-10">
            <p class="title-1" style="margin-bottom: 35px">
              <b>ONGOING ACCERDITATION<br> MEMBERSHIP BENEFITS</b>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/1" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title1') %></b> <br> <%= t('payment.desc1') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/2" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title2') %></b> <br> <%= t('payment.desc2') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/3" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title3') %></b> <br> <%= t('payment.desc3') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/4" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title4') %></b> <br> <%= t('payment.desc4') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/5" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title5') %></b> <br> <%= t('payment.desc5') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/6" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title6') %></b> <br> <%= t('payment.desc6') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/7" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title7') %></b> <br> <%= t('payment.desc7') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/8" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title8') %></b> <br> <%= t('payment.desc8') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/9" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title9') %></b> <br> <%= t('payment.desc9') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/10" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title10') %></b> <br> <%= t('payment.desc10') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/11" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title11') %></b> <br> <%= t('payment.desc11') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/12" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title12') %></b> <br> <%= t('payment.desc12') %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-top: 10px">
            <%= image_tag "payment/13" %>
          </div>
          <div class="col-xs-10">
            <p class="paragraph text-left"><b><%= t('payment.title13') %></b> <br> <%= t('payment.desc13') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>