- content_for :page_title, t('manager.todos.labels.task_manager')
- content_for :previous_path, dashboard_path
.todo-dash-container
  .container
    .row.content-main
      #create_todo_content.col-md-6.col-sm-6.col-xs-6.menu-item
        = link_to '/guide_page/manager_todo/create_step1' do
          .link-content
            .menu-img.report
            %span=t('manager.todos.labels.create')
      #status_todo_content.col-md-6.col-sm-6.col-xs-6.menu-item
        = link_to '/guide_page/manager_todo/status_step1' do
          .link-content
            .menu-img.access
            %span=t('manager.todos.labels.state')
      #delete_todo_content.col-md-6.col-sm-6.col-xs-6.menu-item
        = link_to '/guide_page/manager_todo/delete_step1' do
          .link-content
            .menu-img.access
            %span=t('manager.todos.labels.access')
      #report_todo_content.col-md-6.col-sm-6.col-xs-6.menu-item
        = link_to '/guide_page/manager_todo/report_step2' do
          .link-content
            .menu-img.report
            %span=t('manager.todos.labels.report')
  / Modal
  #dash_step_1
    .modal-dialog
      / Modal content
      .modal-content
        .modal-header
          %button.close.plainmodal-close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title= t('guideline.manager.dashboard.todo.instruction.title').html_safe
        .modal-body          
          = t('guideline.manager.dashboard.todo.instruction.content').html_safe
          .radio-box-group
            .radio-box
              %input{:type=>"radio", :name => "dash_step", :id => "radio_dash_step_1", :style => "display: none;", value: '2', checked: true}
              %label{:for => "radio_dash_step_1"}
                = t('manager.todos.labels.create')
            .radio-box
              %input{:type=>"radio", :name => "dash_step", :id => "radio_dash_step_2", :style => "display: none;", value: '3'}
              %label{:for => "radio_dash_step_2"}
                = t('manager.todos.labels.state')
          .radio-box-group
            .radio-box
              %input{:type=>"radio", :name => "dash_step", :id => "radio_dash_step_3", :style => "display: none;", value: '4'}
              %label{:for => "radio_dash_step_3"}
                = t('manager.todos.labels.access')
            .radio-box
              %input{:type=>"radio", :name => "dash_step", :id => "radio_dash_step_4", :style => "display: none;", value: '5'}
              %label{:for => "radio_dash_step_4"}
                = t('manager.todos.labels.report')
        .modal-footer
          %button.btn.btn-lightred.link-dash-step{"data-dismiss" => "modal", :type => "button", 'data-step' => '1'}=t('form_labels.next')
  #dash_step_2
    .modal-dialog
      / Modal content
      .modal-content
        .modal-header
          %button.close.plainmodal-close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title= t('guideline.manager.dashboard.todo.create.title').html_safe
          %a.link_home
            %i.fa.fa-icon.fa-home
        .modal-body          
          %p= t('guideline.manager.dashboard.todo.create.content').html_safe
          %a#link_create_text= t('guideline.manager.dashboard.todo.create.link_text').html_safe          
        .modal-footer
          %button.btn.btn-lightred.link-dash-step{"data-dismiss" => "modal", :type => "button", 'data-step' => '2'}=t('form_labels.next')
  #dash_step_3
    .modal-dialog
      / Modal content
      .modal-content
        .modal-header
          %button.close.plainmodal-close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title= t('guideline.manager.dashboard.todo.status.title').html_safe
          %a.link_home
            %i.fa.fa-icon.fa-home
        .modal-body          
          %p= t('guideline.manager.dashboard.todo.status.content').html_safe
          %a#link_status_text= t('guideline.manager.dashboard.todo.status.link_text').html_safe          
        .modal-footer
          %button.btn.btn-lightred.link-dash-step{"data-dismiss" => "modal", :type => "button", 'data-step' => '3'}=t('form_labels.next')
  #dash_step_4
    .modal-dialog
      / Modal content
      .modal-content
        .modal-header
          %button.close.plainmodal-close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title= t('guideline.manager.dashboard.todo.delete.title').html_safe
          %a.link_home
            %i.fa.fa-icon.fa-home
        .modal-body          
          %p= t('guideline.manager.dashboard.todo.delete.content').html_safe
          %a#link_access_text= t('guideline.manager.dashboard.todo.delete.link_text').html_safe          
        .modal-footer
          %button.btn.btn-lightred.link-dash-step{"data-dismiss" => "modal", :type => "button", 'data-step' => '4'}=t('form_labels.next')
  #dash_step_5
    .modal-dialog
      / Modal content
      .modal-content
        .modal-header
          %button.close.plainmodal-close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title= t('guideline.manager.dashboard.todo.report.title').html_safe
          %a.link_home
            %i.fa.fa-icon.fa-home
        .modal-body          
          %p= t('guideline.manager.dashboard.todo.report.content').html_safe
          %a#link_report_text= t('guideline.manager.dashboard.todo.report.link_text').html_safe          
        .modal-footer
          %button.btn.btn-lightred.link-dash-step{"data-dismiss" => "modal", :type => "button", 'data-step' => '5'}=t('form_labels.next')
:javascript
  jQuery(document).ready(function() {
    var effect = {
        open: function(duration, complete) {
          this.css({
            display:          'block',
            opacity:          0,
            top:              -50 - this.outerHeight(),
            marginTop:        0
          })
          .animate({opacity: 1, top: 100}, duration, complete);
        },
        close: function(duration, complete) {
          this.animate({
            opacity:          0,
            top:              -50 - this.outerHeight()
          }, duration, function() {
            $(this).css({display: 'none'});
            complete();
          });
        }
      };

    modalStep1 = $('#dash_step_1').plainModal({effect: effect, duration: 500});
    modalStep2 = $('#dash_step_2').plainModal({effect: effect, duration: 500});
    modalStep3 = $('#dash_step_3').plainModal({effect: effect, duration: 500});
    modalStep4 = $('#dash_step_4').plainModal({effect: effect, duration: 500});
    modalStep5 = $('#dash_step_5').plainModal({effect: effect, duration: 500});

    dash_wizard();

    function dash_wizard(){
      modalStep1 = $('#dash_step_1').plainModal('open', {force: true});
    }

    $('#link_dashboard_guide').on('click', function(){
      dash_wizard();
    });       

    $('.link_home').on('click', function(){
      dash_wizard();
    });       

    $('.link-dash-step').click(function(e){
      var step = $('input[name=dash_step]:checked').val();
      var cur_step = $(this).data('step');
      var modal;
      switch(cur_step){
      case 1:
        modal = eval('modalStep' + step);
        modal.plainModal('open', {force: true});
        break;
      case 2:
        modal = eval('modalStep' + cur_step);
        modal.plainModal('close', {force: true});
        gotoCreatePage();
        break;
      case 3:
        modal = eval('modalStep' + cur_step);
        modal.plainModal('close', {force: true});
        gotoStatusPage();
        break;
      case 4:
        modal = eval('modalStep' + cur_step);
        modal.plainModal('close', {force: true});
        gotoDeletePage();
        break;
      case 5:
        modal = eval('modalStep' + cur_step);
        modal.plainModal('close', {force: true});
        gotoReportPage();
        break;
      }            
      e.preventDefault();
    });

    $('#link_create_tab').click(function(e){
      gotoCreatePage();      
      e.preventDefault();
    });

    $('#link_create_text').click(function(e){
      gotoCreatePage();      
      e.preventDefault();
    });

    $('#link_status_tab').click(function(e){
      gotoStatusPage();      
      e.preventDefault();
    });

    $('#link_status_text').click(function(e){
      gotoStatusPage();      
      e.preventDefault();
    });

    $('#link_access_tab').click(function(e){
      gotoDeletePage();      
      e.preventDefault();
    });

    $('#link_access_text').click(function(e){
      gotoDeletePage();      
      e.preventDefault();
    });

    $('#link_report_tab').click(function(e){
      gotoReportPage();      
      e.preventDefault();
    });

    $('#link_report_text').click(function(e){
      gotoReportPage();      
      e.preventDefault();
    });

    function gotoCreatePage(){
      var intro = introJs();
      intro.setOptions({
        steps: [
          {
            element: '#create_todo_content',
            intro: "#{t('guideline.manager.dashboard.todo.create.step_content')}"
          }
        ],
        'doneLabel': "#{t('form_labels.next')}",
        'tooltipPosition': 'auto',
        'positionPrecedence': ['left', 'right', 'bottom', 'top']
      });
      intro.start().oncomplete(function() {
          window.location.href = '/guide_page/manager_todo/create_step1?multipage=true';
        });                  
    }

    function gotoStatusPage(){
      var intro = introJs();
      intro.setOptions({
        steps: [
          {
            element: '#status_todo_content',
            intro: "#{t('guideline.manager.dashboard.todo.delete.step_content')}"
          }
        ],
        'doneLabel': "#{t('form_labels.next')}",
        'tooltipPosition': 'auto',
        'positionPrecedence': ['left', 'right', 'bottom', 'top']
      });
      intro.start().oncomplete(function() {
          window.location.href = '/guide_page/manager_todo/status_step1?multipage=true';
        });                  
    }

    function gotoDeletePage(){
      var intro = introJs();
      intro.setOptions({
        steps: [
          {
            element: '#delete_todo_content',
            intro: "#{t('guideline.manager.dashboard.todo.delete.step_content')}"
          }
        ],
        'doneLabel': "#{t('form_labels.next')}",
        'tooltipPosition': 'auto',
        'positionPrecedence': ['left', 'right', 'bottom', 'top']
      });
      intro.start().oncomplete(function() {
          window.location.href = '/guide_page/manager_todo/delete_step1?multipage=true';
        });                  
    }

    function gotoReportPage(){
      var intro = introJs();
      intro.setOptions({
        steps: [
          {
            element: '#report_todo_content',
            intro: "#{t('guideline.manager.dashboard.todo.report.step_content')}"
          }
        ],
        'doneLabel': "#{t('form_labels.next')}",
        'tooltipPosition': 'auto',
        'positionPrecedence': ['left', 'right', 'bottom', 'top']
      });
      intro.start().oncomplete(function() {
          window.location.href = '/guide_page/manager_todo/report_step2?multipage=true';
        });                  
    }

  });          
