- content_for :page_title, t('manager.todos.labels.task_manager')
- content_for :previous_path, dashboard_manager_todos_path
.todo-dash-container
  .container
    #todos.row
      .twelvecol
        = form_tag manager_reports_todos_search_path, method: :get do
          .input-group.todo-search
            = text_field_tag(:query, params[:query], autocomplete: 'off', tabindex: "1", :class => 'form-control')
            .input-group-btn
              %button.btn.btn-default{:type => "submit"}
                %i.glyphicon.glyphicon-search
        .todo-list
          %h3=t('manager.todos.report.title')
          - if current_user.local_todos.empty?
            %p
              /You have no Daycare todos currently, you can #{link_to 'create', new_manager_todo_path} one now.
              =t('manager.todos.report.create_todo', create_link: link_to('create', '#')).html_safe
          - else
            %ul
              - current_user.local_todos.each do |todo|
                %li
                  .menu-item
                    %span.todo-id= todo.id
                    .profile-thumb
                      = image_tag todo.icon.file, class: 'img-responsive center-block' unless todo.icon.nil?
                    %span.todo-title= truncate(todo.title, length: 20)
                  = link_to t('manager.todos.labels.view_report'), manager_reports_todo_set_date_range_path(todo), :class => 'btn btn-normal btn-yellow btn-block'
        .todo-list
          %h3 Global Todos
          - if current_user.global_todos.empty?
            %p You have no Global todos currently.
          - else
            %ul
              - current_user.global_todos.each do |todo|
                %li
                  .menu-item
                    %span.todo-id= todo.id
                    .profile-thumb
                      = image_tag todo.icon.file, class: 'img-responsive center-block' unless todo.icon.nil?
                    %span.todo-title= truncate(todo.title, length: 20)
                  = link_to t('manager.todos.labels.view_report'), manager_reports_todo_set_date_range_path(todo), :class => 'btn btn-normal btn-yellow btn-block'
:javascript
  jQuery(document).ready(function() {
    healthChildcare.guideline.introGoToStep('report_step2', "#{t('form_labels.next')}", "#{t('form_labels.back')}", "#{t('form_labels.intro_done')}", "#{t('form_labels.intro_skip')}");
    $('#link_dashboard_guide').on('click', function(){
      healthChildcare.guideline.introGoToStep('report_step2', "#{t('form_labels.next')}", "#{t('form_labels.back')}", "#{t('form_labels.intro_done')}", "#{t('form_labels.intro_skip')}");
    });    
  });