.row.filtered-item
  .row.filtered-item-info
    .col-md-6.col-sm-8.col-xs-9
      = pretty_long_date(health_record.created_at)
    .col-md-6.col-sm-4.col-xs-3
      %a.print-record-btn{href: '#', 'data-target_record': "#health-record-#{health_record.id}"}
        %span.pull-right= t('form_labels.print')
  .filtered-item-content
    .row.filtered-item-preview.expandable{'data-health_record_id': health_record.id}
      %table.information-block 
        %tr
          %td.options= t('illnesses.labels.department')
          %td= health_record.owner.name
        %tr
          %td.options= t('illnesses.labels.reporting_date')
          %td= t(pretty_short_date(health_record.created_at))
        %tr
          %td.options= t('protocols.department_illness_record.illness_code')
          %td= health_record.health_record_components.first.pretty_value
    .row.filtered-item-complete-view{'id' => "health-record-#{health_record.id}"}
