.row.text-center.step-banner
  = image_tag 'manager-md.png'
  %h4=t('manager.invite.title')
.row.pane-container.text-center
  .row.step-banner
    .col-sm-3.col-xs-3.step-item.first-step
      .step-label
        = image_tag 'step-check-mng.png'
    .col-sm-3.col-xs-3.step-item.second-step
      .step-label
        = image_tag 'step-check-mng.png'
    .col-sm-3.col-xs-3.step-item.third-step
      .step-label
        = image_tag 'step-check-mng.png'
    .col-sm-3.col-xs-3.step-item.fourth-step.active    
      .step-label
        = image_tag 'manager-sm.png'
        %span=t('manager.invite.invitation')
  .row.pane-invite-info
    .col-sm-12.text-left.email-list
      .row
        .form-group
          %label{:for => :title }=t('manager.invite.recipient')
          %br
          %span#recipient_list
        .form-group
          %label{:for => :title }=t('manager.invite.subject.label')
          = text_field_tag :title, '', placeholder: t('manager.invite.subject.placeholder'), class: 'form-control input-round', required: true
        .form-group
          %label{:for => 'message_content' }=t('manager.invite.message.label') 
          = cktext_area :content, '', name: 'content', value: (@message_template.nil?) ? '' : @message_template.content, cols: 40, id: 'message_content', placeholder: t('manager.invite.message.placeholder')
:javascript
  jQuery(document).ready(function() {    

    $('.btn-invite').click(function(){
      $('form').submit();
    });
  });
