.reg-manager-container.page-boxed
  .page-header
  .container
    .form-content           
      #rootwizard
        %ul{:style=> "visibility: hidden; height: 0; position:absolute;"}
          %li
            %a{"data-toggle" => "tab", :href => "#tab1"} First
        .tab-content
          #tab1.tab-pane
            .row.text-center.step-banner
              = image_tag 'manager-md.png'
              %h4=t('account.daycare.manager')
            .row.pane-container.text-center
              .row.step-banner
                .col-sm-3.col-xs-3.step-item.first-step
                  .step-label
                    = image_tag 'step-check-mng.png'
                .col-sm-3.col-xs-3.step-item.second-step
                  .step-label
                    = image_tag 'step-check-mng.png'
                .col-sm-3.col-xs-3.step-item.third-step
                  .step-label
                    = image_tag 'step-check-mng.png'
                .col-sm-3.col-xs-3.step-item.fourth-step.active
                  .step-label
                    = image_tag 'manager-sm.png'
                    %span=t('register.labels.congratulation')
            .row.pane-search-result.text-center
              %h3.complete-title.item-manager=t('register.labels.congratulation_upper') 
              - unless deposit.nil?
                / %h5.compelet-message=t('register.labels.complete_profile_deposit').html_safe
              - else
                / %h5.compelet-message=t('register.labels.complete_profile_survey').html_safe                
            .parent-congratulation
:javascript
  function redirectDashboard(){
    window.location.href = '#{dashboard_path()}';
  }  
  jQuery(document).ready(function() {    
    $('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-pills'}); 
    //setTimeout(redirectDashboard, 2000);
  });
