= content_for :title, t('illnesses.illness')
- content_for :page_title, t('illnesses.trends')
.illness-dash-container
  .container
    .row
      .col-md-12
        %h4.option-title= t('illnesses.trends')
    .row.content-main
      .col-md-12
        #trends
          .col-md-6
            %dl.dl-horizontal
              %dt= t('illnesses.labels.daycare')
              %dd= @trend.daycare_involved.name

              %dt= t('illnesses.labels.department')
              %dd= @trend.departments_involved.map(&:name).join(', ')

              %dt= t('illnesses.illness')
              %dd= @trend.illnesses_involved.map(&:name).join(', ')

              %dt= t('illnesses.labels.graph_type')
              %dd= params[:graph_type]
          .row
            .container-fluid
              #line-chart-div{'data-trend_data': @trend.illness_data_over_time.to_json, 'title': t('illnesses.labels.line_chart_title')}
              #pie-chart-div{'data-trend_data': @trend.illness_data_over_children_count.to_json, 'title': t('illnesses.labels.pie_chart_title'), 'children-col-title': t('illnesses.labels.children_col_title')}
              #bar-chart-div{'data-trend_data': @trend.illness_data_over_children_count.to_json}

            .container-fluid.centralize.form-buttons
              %a.print-trend-btn{href: '#', 'data-target': '#trends', class: 'btn btn-wizard bg-style-b'}
                = t('form_labels.print')
:javascript
  google.charts.load('current', {'packages':['corechart']});
