.row.text-center.step-banner
  = image_tag 'parent-md.png'
  %h4=t('account.daycare.parent')
.row.pane-container.text-center
  .row.step-banner
    .col-sm-3.col-xs-3.step-item.first-step.item-parentee
      .step-label
        = image_tag 'step-arrow.png', :class => "step-arrow right"
        = image_tag 'step-check-prt.png'
    .col-sm-3.col-xs-3.step-item.second-step.item-parentee.active    
      .step-label
        = image_tag 'step-arrow.png', :class => "step-arrow right"
        = image_tag 'step-arrow.png', :class => "step-arrow left"
        = image_tag 'parent-sm.png'
        %span=t('register.labels.parent_info')
    .col-sm-3.col-xs-3.step-item.third-step.item-parentee
      .step-label
        = image_tag 'step-arrow.png', :class => "step-arrow right"
        = image_tag 'step-arrow.png', :class => "step-arrow left"
        = image_tag 'step-pending.png'
    .col-sm-3.col-xs-3.step-item.fourth-step.item-parentee
      .step-label
        = image_tag 'step-arrow.png', :class => "step-arrow left"
        = image_tag 'step-pending.png'
  .parent-list-container
    .parent-item
      = render 'user_info_fields', user: user